body {
    background: #e8eff5;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 4rem 0;
    color: #525252;
}

.btn-container {
    display: flex;
}

.btn {
    background: #e8eff5;
    height: 80px;
    width: 80px;
    margin: 0 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 400ms;

    box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #ffffff, inset 4px 4px 8px rgba(209, 217, 230, 0.2), inset -8px -8px 8px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);

     
}
.btn i {
    font-size: 40px;
    color: #727272;
    transition: all 400ms;
}

.btn:hover i {
    transform: scale(0.96);